.navbar {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
}

.navbar * {
  word-break: normal;
  white-space: nowrap;
  box-sizing: border-box;
  color: var(--white);
}

.nav-mobile {
  height: 100%;
}

.nav-desktop {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navbar .nav-mobile .nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40px;
}

.navbar .nav-desktop .nav-area {
  flex-grow: 1;
  height: 100%;
  padding: 20px 40px;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile__list-ul {
  height: 100%;
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
  padding: 0 24px;
  overflow-y: auto;
}

.nav-desktop__list-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-desktop__list-menu {
  margin-left: 40px;
  font-size: 23px;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 30px;
  padding-inline-start: 40px;
}

@media (min-width: 1024px) {
  .navbar {
    height: 90px;
  }
  .navbar .nav-desktop {
    display: flex;
  }
  .navbar .nav-mobile {
    display: none;
  }
}

@media (max-width: 650px) {
  .h-logo__text {
    font-size: 30px;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 5px;
  }
}

.max-width {
  max-width: 1230px;
  margin: auto;
}
