<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SORINURI - HOME</title>
  </head>
  <body>
    <div class="h-screen">
      <header class="h-header">
        <h1>
          <div class="outline">
            <a href="#" class="h_logo square">
              <span class="sori">SORI</span>
              <span class="nuri">NURI</span>
            </a>
          </div>
        </h1>
      </header>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__btn">
            <a class="nav__link" href="#"> <i class="far fa-user fa-2x"></i></a>
          </li>
          <li class="nav__btn">
            <a class="nav__link" href="#">
              <i class="far fa-comment fa-2x"></i>
            </a>
          </li>
          <li class="nav__btn">
            <a class="nav__link" href="#"
              ><i class="fas fa-search fa-2x"></i
            ></a>
          </li>
          <li class="nav__btn">
            <a class="nav__link" href="#">
              <span class="nav__dot"></span>
              <i class="fas fa-ellipsis-h fa-2x"></i>
            </a>
          </li>
        </ul>
      </nav>
      <section class="sections">
        <div class="sections-link">
          <span class="sections-link__intro">소개</span>
        </div>
        <div class="sections-link">
          <span class="sections-link__activity">활동</span>
        </div>
        <div class="sections-link">
          <span class="sections-link__scedule">일정</span>
        </div>
        <div class="sections-link">
          <span class="sections-link__else">기타</span>
        </div>
      </section>
      <article></article>
      <aside></aside>
      <footer></footer>
      <script src="views/js/join.js"></script>
    </div>
  </body>
</html>
