<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SORINURI - HOME</title>
  </head>
  <body>
    <div class="h-screen">
      <nav class="navbar">
        <div class="nav-mobile">
          <div class="nav-area">
            <h1>
              <div class="outline__xs">
                <a href="index.html" class="h-logo__xs">
                  <span class="sori__xs">SORI</span>
                  <span class="nuri__xs">NURI</span>
                </a>
              </div>
            </h1>
            <a href="#" class="nav-btn"><i class="fas fa-bars fa-2x"></i></a>
          </div>
          <ul class="nav__list-mobile">
            <li class="nav__list-menu">
              <a class="nav__link" href="#">공지사항</a>
            </li>
            <li class="nav__list-menu">
              <a class="nav__link" href="#">일정</a>
            </li>
            <li class="nav__list-menu">
              <a class="nav__link" href="#">소리누리그램</a>
            </li>
            <li class="nav__list-menu">
              <a class="nav__link" href="#">나의 활동</a>
            </li>
          </ul>
        </div>
        <div class="nav-desktop">
          <div class="nav-area">
            <h1>
              <div class="outline__xs">
                <a href="index.html" class="h-logo__xs">
                  <span class="sori__xs">SORI</span>
                  <span class="nuri__xs">NURI</span>
                </a>
              </div>
            </h1>
            <div>
              <ul class="nav__list">
                <li class="nav__list-menu">
                  <a class="nav__link" href="#">공지사항</a>
                </li>
                <li class="nav__list-menu">
                  <a class="nav__link" href="#">일정</a>
                </li>
                <li class="nav__list-menu">
                  <a class="nav__link" href="#">소리누리그램</a>
                </li>
                <li class="nav__list-menu">
                  <a class="nav__link" href="#">나의 활동</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <header class="h-header">
        <img class="bg-img" src="/projects/views/image/bg-img2.png" />
        <h1>소리누리</h1>
      </header>
      <section class="sections"></section>
      <article></article>
      <aside></aside>
      <footer></footer>
      <script src="views/js/join.js"></script>
    </div>
  </body>
</html>
