<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SORINURI - HOME</title>
  </head>
  <body>
    <div class="h-screen">
      <nav class="navbar">
        <div class="nav-mobile">
          <div class="nav-area">
            <a class="h-logo__text" href="index.html">SORINURI</a>
            <div>
              <a href="#" class="nav-btn"><i class="fas fa-bars fa-2x"></i></a>
            </div>
          </div>
          <ul class="nav-mobile__list-ul">
            <li class="nav-mobile__list-menu">
              <a class="nav__link" href="#">공지</a>
            </li>
            <li class="nav-mobile__list-menu">
              <a class="nav__link" href="#">일정</a>
            </li>
            <li class="nav-mobile__list-menu">
              <a class="nav__link" href="#">소리누리그램</a>
            </li>
            <li class="nav-mobile__list-menu">
              <a class="nav__link" href="#">나의 활동</a>
            </li>
          </ul>
        </div>
        <div class="nav-desktop">
          <div class="nav-area">
            <a class="h-logo__text" href="index.html">SORINURI</a>
            <div class="nav-desktop__list">
              <ul class="nav-desktop__list-ul">
                <li class="nav-desktop__list-menu">
                  <a class="nav__link" href="#">공지</a>
                </li>
                <li class="nav-desktop__list-menu">
                  <a class="nav__link" href="#">일정</a>
                </li>
                <li class="nav-desktop__list-menu">
                  <a class="nav__link" href="#">소리누리그램</a>
                </li>
                <li class="nav-desktop__list-menu">
                  <a class="nav__link" href="#">나의 활동</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <section class="section__top max-width">
        <div class="background"></div>
        <div class="h-logo__neon-xs">
          <div class="outline__xs">
            <a href="index.html" class="h-logo__xs">
              <span class="sori__xs">SORI</span>
              <span class="nuri__xs">NURI</span>
            </a>
          </div>
        </div>
        <h1>SORINURI</h1>
        <p>We Are The World Beaches</p>
        <div class="line"></div>
        <footer class="footer">
          <a href="#"
            ><i class="fab fa-instagram fa-2x"></i>
            <span>@sorinuri0408</span></a
          >
        </footer>
      </section>
      <script src="../views/js/index.js"></script>
    </div>
  </body>
</html>
