.h-screen {
  width: 100vw;
  height: 200vh;
  position: relative;
}

.section__top {
  width: 100vw;
  height: 100%;
  background: #008080;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background {
  width: 100%;
  height: 100%;
  background: rgba(9, 156, 144, 0.9);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1 {
  margin-top: 20px;
  font-size: 100px;
  color: var(--white);
}

p {
  color: var(--white);
}

.line {
  margin-top: 50px;
  width: 50vw;
  height: 10px;
  border-bottom: 1px solid var(--white);
}

.section__top .h-logo__neon-xs {
  margin-top: 150px;
}
